@import 'utils';

.AboutPanel {
  position: relative;
  width: 100%;      
  //height: 90vh;    
  
  // @media screen and (max-width : $mobile-width) and (orientation: landscape) {      
  //   height: 180vh;    
  //   width: 100%;
  // }

  @include media("<=mobile") {
    width: 100%;
    height: auto;
    background-color: #ece7e3;
  }

  .AboutPanelWrp {
    //width: 100%;
    //height: 100%;

    width: 100%;
    height: 0;
    padding-top: calc(100% * 1080 / 1920);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media("<=mobile") {
      width: 100%;
      height: 0;
      padding-top: calc(100% * 1160 / 640);
      background-repeat: no-repeat; 
      background-size: cover;
    }

    .contentStyle {              
      position: relative;
      top:4%;
      left:3%;
      width: 96%;    
      height: 15%;       
      display: flex;
      flex-direction: row;    
    }
  
    .contentStyle_Mobile {    
      position: relative;
      top:4%;
      left:3%;
      width: 96%;    
      height: 15%;       
      display: flex;
      flex-direction: column;    
      @media screen and (max-width: 400px) {
        height: 35%;
      }
    }
    
    .contentStyle_left {            
      width: 20%;
      height: 100%;        
      display: flex;
      flex-direction: column;    
      align-items: flex-start;
      justify-content: center;
  
      @media screen and (max-width: 400px) {
        width: 40%;
      }
    }
  
    .contentStyle_Top {            
      width: 100%;
      height: 50%;        
      display: flex;
      flex-direction: row;    
      align-items: flex-start;
      justify-content: flex-start;    
    }
  
    .contentStyle_line_2_koreaTitle_typo {            
      font-size: 30px;        
      margin-top: 7%;
      @media screen and (max-width: 400px) {
        font-size: 18px;
        margin-top: 0%;
      }
    }
  
    .contentStyle_line_2_koreaTitle_typo_Mobile {
      font-size: 30px;        
      margin-top: 7%;
      @media screen and (max-width: 400px) {
        font-size: 18px;
        margin-top: 3%;
        margin-left: 5%;
  
      }
    }
  
  
    .contentStyle_flex {
      display: flex;
      flex-direction: column;    
      align-items: flex-start;
      justify-content: space-around;
    }
  
    .content_logo {
      width: 95%;
      object-fit: contain;    
    }
  
    .content_logo_Mobile {    
      width: 50%;
      object-fit: contain;    
    }
    
    .contentStyle_right {            
      width: 80%;
      height: 100%;        
      display: flex;
      flex-direction: column;    
      align-items: flex-start;
      justify-content: center;
      margin-left: 8%;
      @media screen and (max-width: 400px) {
        width: 60%;
      }
    }
  
    .contentStyle_line_1_Desc_typo {
      font-size: 24px;
      font-weight: normal;
      letter-spacing: -0.6px;
      color: #727272;
      margin-top: -4%;
  
      @media screen and (max-width: 400px) {
        font-size: 15px;
      }
  
  
      span {
        font-weight: 800;
      }
  
      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  
    .moreStyle {    
      position: absolute;
      padding-top: 4%;
      padding-left: 13.3%;
    }
  
    .morePosition {
      padding-top: 0.5%;
      margin-left: -15px;
    }
  
    .buttonStyle {
      &:hover {      
        background-color: transparent;            
        font-weight: 600;
        text-decoration: underline;
      }    
    }
  
    .buttonTextStyle {
      color: white;
      font-size: 25px;
      text-transform: none;
      text-decoration: underline;
  }
    .titleStyle {    
      height: 49px;
      @media screen and (max-width: 400px) {
        height: 25px;
      }
    
    }
  
    .linkStyle {
      color: white;
      font-size: 25px;
      text-decoration: none;
    }
  
    .paperStyle {
      height: 100%;
      width: 89%;
      position: relative;    
      left: 11%;          
    }
  
    .imageStyle_1 {    
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      top:7%;
      left:3%;
      width: 96%;
      height:77%;   
      @media screen and (max-width: 400px) {
        height: 55%;
      }
  
    }
  
    .imgFillStyle {
      width: 100%;    
      height: 100%;    
      object-fit: fill;
    }
    .imageSize {        
      width: 100%;    
      height: 50%;        
    }
  
    .imageStyleDiv_2 {
      position: relative;
      top:7%;
      left:3%;
      width: 96%;
      height:77%;    
      @media screen and (max-width: 400px) {
        height: 55%;
      }
    }
  
    .imageStyle_2 {    
      display: flex;    
      flex: 1;
      flex-direction: inherit;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 50%;
    
    }
  
  
    .imageSize_pattern_2 {
      width: 25%;    
      height: 100%;    
    } 
  
    .imageSize_pattern_3 {
      width: 25%;    
      height: 100%;    
    }
  
    .imageStyle_3 {    
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;    
      position: relative;
      top:7%;
      left:3%;
      width: 96%;
      height:77%;
      @media screen and (max-width: 400px) {
        height: 55%;
      }
    }
  
    .closeButton {
      position: absolute;
      right: 0;
      margin: 0.5%;
    }
  }

  .titlePosition {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 100%;
    margin-left: 8%;    
  }

  .title_1 {
    color: white;
    font-family: 'Helvetica Neue LT Pro 77 Bold Condensed';
  }

  .desc_1 {
    color: white;
  }

  .title_2 {
    color: #3c3c3c;
    font-family: 'Helvetica Neue LT Pro 77 Bold Condensed';
  }

  .desc_2 {
    color: #3c3c3c;
  }
}

