@import 'utils';

.dragScrollbar {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .divider {
  background-color: #343434;  
  height : 4px;
  }

  .divider2 {
    height: 4px;
    margin-top : -5px;
    background-color: white;
  }
}